<section class="main-login">
  <div class="heder">
    <p>Monotoring System</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div style="display: flex; flex-direction: column">
      <label for="userName">Name</label>
      <input formControlName="userName" id="userName" value="username" />
      @if (getcontrolsLogin('userName')?.invalid && getcontrolsLogin('userName')?.touched) {
        <p>corect</p>
      }
      <label for="password">password</label>
      <input formControlName="password" id="password" autofocus />
      @if (getcontrolsLogin('password')?.invalid && getcontrolsLogin('password')?.touched) {
        <p style="color: red">wrong</p>
      }
    </div>

    <div class="button-login">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</section>
