.main-login{
   height: 100%;
   background-color: #f2f2f2;
   border-radius: 0 1rem 1rem 0;
   display: flex;
   flex-direction: column;
}
.heder{
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem;
  color: black;
  display:flex ;
  justify-content: center;
  align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    border-radius:0 1rem 1rem 0;
    padding: 20px; 
    width: 100%;
    max-width: 50rem;
    max-height: 100%;
    direction: ltr;
  height: 100%;
  
}
label{

  color: black;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: rgb(49, 49, 49);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button{
    box-sizing: border-box !important;
    background-color: var(--color-primary-base);
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid var( --color-primary-dark-2);
    color: var( --color-white);
    width: 8rem;
    max-width: 100%;
    min-width: 0;

  
}
button:hover{
    background-color: var(--color-primary-dark-2);
      border: 1px solid var( --color-primary-dark-5);
}
.button-login{
    display: flex;
    width: 100%;
    justify-content: center;
}
span{
  color: red;
}