<section class="main-rigesrty">
  <div class="heder">
    <p>Monotoring System</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div>
      <div>
        <label for="validationServer01" class="form-label">Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
        />
      </div>
      <div>
        <label for="validationServer01" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="validationServer03"
          aria-describedby="emailHelp"
          formControlName="lastName"
        />
      </div>

      <div>
        <label for="validationServerUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
          <input
            type="text"
            formControlName="userName"
            class="form-control"
            id="validationServerUsername"
            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
            [ngClass]="
              getcontrolsRigesterForm('userName')?.errors?.['userName'] ? 'is-invalid' : ''
            "
          />
        </div>
      </div>

      <div>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [ngClass]="
            getcontrolsRigesterForm('email')?.errors?.['emailExists'] ||
            getcontrolsRigesterForm('email')?.touched
              ? 'is-invalid'
              : ''
          "
        />
      </div>

      @if (getcontrolsRigesterForm('email')?.valid || getcontrolsRigesterForm('email')?.touched) {
        @if (getcontrolsRigesterForm('email')?.errors?.['emailExists']) {
          <span>ایمیل تکراری</span>
        }
      }

      <div>
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div>
        <label for="exampleInputPassword1" class="form-label">RePassword</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>

    <div class="button-login">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div style="color: black !important ; display: flex; width: 100%; justify-content: space-around">
    <span>اکانت دارید؟</span>
    <a [routerLink]="['/auth/login']">ورود</a>
  </div>
</section>
