table {
  width: 100%;
  table-layout: fixed;
  padding: 0 2rem;

}

.table {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.9rem;
}

.culmn {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 3rem;
}

dl {
  display: flex;
}

dd {
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
}

.name-status {
  margin: 1rem 1rem 0rem 0rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  font-weight: bold;
}

.card-device {
  margin: 0 var(--space-md);
  background-color: var(--color-gray-dark-8);
  border-radius: var(--border-radius-default);
  padding: 0 0 0.5rem 0;

}

.warning {
  border: 1px solid var(--color-warning);
  box-shadow: 2px 2px 4px rgba(var(--color-warning-rgb), 0.2);
  padding: 1rem;
  border-radius: var(--border-radius-secondary);
  background-color: rgba(var(--color-warning-rgb), 0.1);
  margin: 1rem;
}
