<section class="deviceList">
  @for (device of listOfDevice; track device.id) {
    <article class="card-device">
      <div class="name-status">
        <i class="fa fa-circle" style="color: var(--color-success); font-size: 10px"></i>
        <p>{{ device.name }}</p>
      </div>

      <div class="table">
        <div class="culmn">
          <dl>
            <dt>نوع:</dt>
            <dd>{{ device.power }}</dd>
          </dl>

          <dl>
            <dt>مقدار:</dt>
            <dd>{{ device.temperature }}</dd>
          </dl>
        </div>

        <div style="display: flex; flex-direction: column">
          <dl>
            <dt>موقعيت:</dt>
            <dd></dd>
            <dd></dd>
          </dl>

          <dl>
            <dt>زمان:</dt>
            <dd>{{ device.status }}</dd>
          </dl>
        </div>
      </div>
      @if (device.temperature > 100) {
        <p class="warning">مصرف بالا! مقدار: 289.3 kW</p>
      }
    </article>
  }
</section>
