/* Thin */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../../public/assets/fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
