.main {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-default);
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 1.5rem ;
  flex: 0.5;

}
.status{
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
}
dl{
  display: flex;
  gap: 0.3rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;

}
 dt ,dd {
  padding: 0;
  margin:0 0 0 0.05rem;
}
.list-device{
  flex: 4.5;

}
