.layout {
  display: grid;
  grid-template-areas:
  "header header"
  "aside main";
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  height: 95vh;
  max-height: 100vh;
  width: 70%;
  max-width: (1200/16) rem;
}

.full {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem
}

;
header {
  grid-area: header;
  min-width: 0;
}

;
aside {
  grid-area: aside;
  min-width: 0;

}

;
main {
  grid-area: main;
  min-width: 0;
}

