<section class="side-bar">
  <!-- <div class="chart-container">
    <canvas id="statusChart"   style="width:100%;max-width:600px"></canvas>
  </div> -->

  <article class="list-card">
    <dl>
      <dt>تعدا کل</dt>
      <dd>{{ listOfDevice?.length }}</dd>
    </dl>
  </article>

  <article class="list-card">
    <dl>
      <dt>دستگاه های آنلاین</dt>
      <dd>{{ onlineDeviceNumber }}</dd>
    </dl>
  </article>

  <article class="list-card">
    <dl>
      <dt>دستگاه های آفلاین</dt>
      <dd>{{ offlineDeviceNumber }}</dd>
    </dl>
  </article>

  <article class="list-card">
    <dl>
      <dt>دستگاه های دارای هشدار</dt>
      <dd>{{ warningDeviceNumber }}</dd>
    </dl>
  </article>
</section>
