.side-bar{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-default);
  height: 100%;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-card{
  background-color: var(--color-gray-dark-8);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-border);
  padding: var(--space-xs);
}
dl{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
dt{
  font-size:0.9rem;
  color: var(--color-text-disabled);
}
dd{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.chart-container {

  max-width: 600px;
  margin: 1rem 0;
  padding: 0;


}

canvas {
  display: block;
  width: 80%;
  height: 100%;
  font-family: 'Vazirmatn', serif !important;

}
