.side-bar{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-default);
  height: 100%;
  padding: var(--space-lg);
}
header{
  height :3.5rem;
  background: var(--color-gray-dark-1);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-default);
}
.card-chart{
  height: 4.5rem;
  background: var(--color-gray-dark-5);
  border-radius: var(--border-radius-default);
  margin: var(--space-md) 0;
  padding: var(--space-lg);


}
